// @rate1333: 2;
@rate1333: 4/3;
@comWidth: 1333px / @rate1333;
@comColor: #14B1BB;
.idiomNavCon {
  width: 100%;
  display: flex;
  justify-content: center;
  .idiomNav {
    width: @comWidth;
    height: 135px / @rate1333;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .idiomIcon {
      width: 326px / @rate1333;
      height: 53px / @rate1333;
      background: url("./img/logo.png") no-repeat;
      background-size: contain;
    }
    .idiomLink {
      display: flex;
      justify-content: center;
      .idiomLinkItem {
        font-size: 24px / @rate1333;
        color: #4b5a6a;
        margin-left: 70px / @rate1333;
        &.act {
          color: #14b1bb;
        }
      }
    }
  }
}