@rate: 2;
@rate1333: 4/3;
@comWidth: 1333px / @rate1333;

.idiomListHome {
  width: 100%;
  padding-top: 80px / @rate1333;
  .idiomQaNameCon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 56px / @rate1333;
    .idiomQaName {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .qaMainSec {
        text-align: center;
        font-size: 55px / @rate1333;
        font-weight: bold;
        color: #4b5a6a;
        margin-top: 75px / @rate1333;
      }
      .qaSubSec {
        text-align: center;
        font-size: 24px / @rate1333;
        color: #4b5a6a;
        margin-top: 27px / @rate1333;
      }
    }
  }

  .idiomQaAnswerTitleCon {
    width: 100%;
    display: flex;
    justify-content: center;
    .idiomQaAnswerTitle {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .editName {
        width: @comWidth;
        height: 148px / @rate1333;
        border-top: solid 5px #14b1bb;
        border-left: solid 1px #e9e9e9;
        border-right: solid 1px #e9e9e9;

        display: flex;
        justify-content: center;
        align-items: center;

	      font-size: 52px / @rate1333;
        font-weight: bold;
        color: #14b1bb;

      }
      .editQaCon {
        width: 100%;
        padding: 20px / @rate1333;
        border-top: solid 1px #e9e9e9;
        border-left: solid 1px #e9e9e9;
        border-right: solid 1px #e9e9e9;
        background: #eee;
        .editSubTitle {
          font-size: 24px / @rate1333;
          font-weight: bold;
          color: #14b1bb;
        }
        .editSubUser {
          margin-top: 10px / @rate1333;
          font-size: 24px / @rate1333;
          color: #14b1bb;
        }
        .editItem {
          margin-top: 20px / @rate1333;
          .editMainTitle {
            font-size: 24px / @rate1333;
            font-weight: bold;
            color: #4b5a6a;
          }
          .editCont {
            width: 100%;
            margin-top: 25px / @rate1333;
            height: 71px / @rate1333;
            background-color: #ffffff;
            border: solid 1px #e9e9e9;
          }

          .editText {
            width: 100%;
            margin-top: 25px / @rate1333;
            height: 142px / @rate1333;
            background-color: #ffffff;
            border: solid 1px #e9e9e9;
          }
        }
        .editItemSubmitCon {
          display: flex;
          justify-content: flex-end;
          margin-top: 40px / @rate1333;
          .editItemSubmit {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 140px / @rate1333;
            height: 51px / @rate1333;
            background-color: #14b1bb;
            border-radius: 5px / @rate1333;
            color: #fff;
            font-size: 24px / @rate1333;
          }
        }
      }
    }
  }
  .idiomQaAnswerCon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 56px / @rate1333;
    margin-top: 20px / @rate1333;
    .idiomQaAnswer {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-bottom: solid 1px #e9e9e9;
    }
  }
}