@rate: 2;
@comWidth: 1200px / @rate;

.idiomListHome {
  width: 100%;
  .idiomQaAnswerCon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 56px / @rate;
    .idiomQaAnswer {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}