// @rate: 2;
@rate1333: 4/3;
@comWidth: 1200px / @rate1333;
@comColor: #14B1BB;

.header {
  width: 100%;
  height: 80px / @rate1333;
  display: flex;
  justify-content: center;
  background-color: @comColor;
  position: fixed;
  top: 0;
  z-index: 1000;
  .headerContain {
    width: @comWidth;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    .login {
      height: 26px / @rate1333;
      font-size: 24px / @rate1333;
      font-weight: normal;
      font-stretch: normal;
      color: #ffffff;
      display: flex;
      .userHeader {
        margin-right: 10px / @rate1333;
        width: 40px / @rate1333;
        height: 40px / @rate1333;
        background: url("./img/profile.png") no-repeat;
        background-size: cover;
      }
      .email, .userLogout {
        height: 40px / @rate1333;
        margin-left: 10px / @rate1333;
        margin-right: 10px / @rate1333;
        font-size: 24px / @rate1333;
        // line-height: 40px / @rate1333;
        color: #ffffff;
      }
    }
  }
}