@rate: 2;
@rate1333: 1.3333;
@comWidth: 1800px / @rate;

.loginRegister {
  width: 100%;
  padding-top: 85px / @rate;
  .loginRegisterTitleCon {
    width: 100%;
    height: 383px / @rate;
    display: flex;
    justify-content: center;
    background: url("./img/user-center1.jpg") no-repeat;
    background-size: cover;
    .loginRegisterTitle {
      position: relative;
      width: @comWidth;
      .lrTitleText {
        width: 100%;
        position: absolute;
        text-align: center;
        margin-top: 137px / @rate;
        font-size: 60px / @rate;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }


  .lrInformationCon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px / @rate;

    .lrInformation {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .lrInformationSec {
        width: 100%;
        padding: 60px / @rate;
        .lrInformationItem {
          padding-top: 15px / @rate;
          padding-bottom: 15px / @rate;
          display: flex;
          flex-direction: column;
          .lrInformationText {
            font-size: 24px / @rate;
            font-weight: bold;
            color: #4b5a6a;
          }
          .lrInformationInput {
            margin-top: 15px / @rate;
            height: 68px / @rate;
            border: solid 1px #e9e9e9;
          }
          .lrInformationVerCont {
            height: 68px / @rate;
            margin-top: 15px / @rate;
            height: 68px / @rate;
            display: flex;
            .lrInformationVerInput {
              width: 70%;
              border: solid 1px #e9e9e9;
            }
            .lrInformationButton {
              width: 137px / @rate;
              height: 68px / @rate;
              font-size: 30px / @rate;
              background-color: #14b1bb;
              color: #ffffff;
              text-align: center;
              line-height: 68px / @rate;
              margin-left: 10px / @rate;;
            }
          }
        }
        .lrInformationButtonItem {
          display: flex;
          justify-content: center;
          margin-top: 20px / @rate;
          .lrInformationButton {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 237px / @rate;
            height: 73px / @rate;
            font-size: 30px / @rate;
            background-color: #14b1bb;
            color: #ffffff;
          }
        }
        .lrTerm {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px / @rate 0;
          .lrTermForgot {
            font-size: 24px / @rate;
            color: #14b1bb;
          }
        }
      }
    }
  }

}