@rate: 2;
@comWidth: 1200px / @rate;

.loginRegister {
  width: 100%;
  .loginRegisterTitleCon {
    width: 100%;
    height: 383px / @rate;
    display: flex;
    justify-content: center;
    background: url("./img/user-center1.jpg") no-repeat;
    background-size: cover;
    .loginRegisterTitle {
      position: relative;
      width: @comWidth;
      .lrTitleText {
        width: 100%;
        position: absolute;
        text-align: center;
        margin-top: 137px / @rate;
        font-size: 60px / @rate;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }
}