@rate: 2;
@comWidth: 1800px / @rate;

.idiomHome {
  width: 100%;
  padding-top: 85px / @rate;
  .idiomSearchCon {
    width: 100%;
    height: 541px / @rate;
    display: flex;
    justify-content: center;
    background: url("./img/banner0.jpg") no-repeat;
    background-size: cover;
    .idiomSearch {
      width: @comWidth;
      display: flex;
      flex-direction: column;
      align-items: center;
      .searchPic {
        width: 337px / @rate;
        height: 178px / @rate;
        margin-top: 37px / @rate;
        background: url("./img/banner_k.png") no-repeat;
        background-size: cover;
      }
      .searchTxt {
        margin-top: 20px / @rate;
        font-size: 60px / @rate;
        font-weight: normal;
        font-stretch: normal;
        color: #14b1bb;
      }
      .searchInputCon {
        width: 100%;
        height: 76px / @rate;
        margin-top: 40px / @rate;
        border-radius: 5px / @rate;
        border: solid 1px/@rate #14b1bb;
        display: flex;
        justify-content: space-between;
        .searchInput {
          width: 80%;
          height: 70px / @rate;
          border: none;
          outline-style: none;

          font-size: 24px / @rate;
          font-weight: bold;
          padding-left: 10px / @rate;
        }
        .searchButton {
          width: 20%;
          height: 74px / @rate;
          background-color: #14b1bb;
          border-radius: 5px / @rate;
          font-size: 36px / @rate;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .idiomABCCon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px / @rate;
    .idiomABC {
      width: @comWidth;
      height: 560px / @rate;
      display: flex;
      flex-direction: column;
      align-items: center;
      .ABCTitle {
        font-size: 55px / @rate;
        color: #4b5a6a;
      }
      .ABCSbuTitle {
        font-size: 24px / @rate;
        color: #4b5a6a;

      }
      .ABCList {
        width: @comWidth;
        margin-top: 20px / @rate;
        display: flex;
        flex-wrap:wrap;
        .ABCItem {
          width: @comWidth/7;
          margin-top: 20px / @rate;
          display: flex;
          justify-content: center;
          align-items: center;
          .ABCItemCon {
            width: 64px / @rate;
            height: 64px / @rate;
            // font
            font-size: 32px / @rate;
            color: #4b5a6a;

            &.act {
              background-color: #14b1bb;
              border-radius: 5px / @rate;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
            }
          }
        }
      }
    }

  }
}