@rate: 2;
@comWidth: 1200px / @rate;

.idiomListHome {
  width: 100%;
  .idiomQaCon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 56px / @rate;
    .idiomQa {
      width: @comWidth;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}